################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.v2
/.vs/HostAggregation/FileContentIndex/4d7ac1d9-11d2-4aa9-a1e1-86d4c37f6994.vsidx
/.vs/HostAggregation/FileContentIndex/4e403692-45e4-41f0-ba00-4528b6bb884a.vsidx
/.vs/HostAggregation/FileContentIndex/read.lock
/.vs/HostAggregation/v17/.suo
/.vs/HostAggregation/v17/.wsuo
/HostAggregation/bin/Debug/net6.0/HostAggregation.deps.json
/HostAggregation/bin/Debug/net6.0/HostAggregation.dll
/HostAggregation/bin/Debug/net6.0/HostAggregation.exe
/HostAggregation/bin/Debug/net6.0/HostAggregation.FileManagementService.dll
/HostAggregation/bin/Debug/net6.0/HostAggregation.FileManagementService.pdb
/HostAggregation/bin/Debug/net6.0/HostAggregation.HelpersService.dll
/HostAggregation/bin/Debug/net6.0/HostAggregation.HelpersService.pdb
/HostAggregation/bin/Debug/net6.0/HostAggregation.pdb
/HostAggregation/bin/Debug/net6.0/HostAggregation.RangeAllocationService.dll
/HostAggregation/bin/Debug/net6.0/HostAggregation.RangeAllocationService.pdb
/HostAggregation/bin/Debug/net6.0/HostAggregation.runtimeconfig.json
/HostAggregation/obj/Debug/net6.0/ref/HostAggregation.dll
*.dll
/HostAggregation/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/HostAggregation/obj/Debug/net6.0/apphost.exe
/HostAggregation/obj/Debug/net6.0/HostAggregation.AssemblyInfo.cs
/HostAggregation/obj/Debug/net6.0/HostAggregation.AssemblyInfoInputs.cache
/HostAggregation/obj/Debug/net6.0/HostAggregation.assets.cache
/HostAggregation/obj/Debug/net6.0/HostAggregation.csproj.AssemblyReference.cache
/HostAggregation/obj/Debug/net6.0/HostAggregation.csproj.BuildWithSkipAnalyzers
/HostAggregation/obj/Debug/net6.0/HostAggregation.csproj.CopyComplete
/HostAggregation/obj/Debug/net6.0/HostAggregation.csproj.CoreCompileInputs.cache
/HostAggregation/obj/Debug/net6.0/HostAggregation.csproj.FileListAbsolute.txt
/HostAggregation/obj/Debug/net6.0/HostAggregation.GeneratedMSBuildEditorConfig.editorconfig
/HostAggregation/obj/Debug/net6.0/HostAggregation.genruntimeconfig.cache
/HostAggregation/obj/Debug/net6.0/HostAggregation.GlobalUsings.g.cs
/HostAggregation/obj/Debug/net6.0/HostAggregation.pdb
/HostAggregation/obj/HostAggregation.csproj.nuget.dgspec.json
/HostAggregation/obj/HostAggregation.csproj.nuget.g.props
/HostAggregation/obj/HostAggregation.csproj.nuget.g.targets
/HostAggregation/obj/project.assets.json
/HostAggregation/obj/project.nuget.cache
/HostAggregation.FileManagementService/bin/Debug/net6.0/HostAggregation.FileManagementService.deps.json
/HostAggregation.FileManagementService/bin/Debug/net6.0/HostAggregation.FileManagementService.pdb
/HostAggregation.FileManagementService/obj/Debug/net6.0/HostAggregation.FileManagementService.AssemblyInfo.cs
/HostAggregation.FileManagementService/obj/Debug/net6.0/HostAggregation.FileManagementService.AssemblyInfoInputs.cache
/HostAggregation.FileManagementService/obj/Debug/net6.0/HostAggregation.FileManagementService.assets.cache
/HostAggregation.FileManagementService/obj/Debug/net6.0/HostAggregation.FileManagementService.csproj.AssemblyReference.cache
/HostAggregation.FileManagementService/obj/Debug/net6.0/HostAggregation.FileManagementService.csproj.CoreCompileInputs.cache
/HostAggregation.FileManagementService/obj/Debug/net6.0/HostAggregation.FileManagementService.csproj.FileListAbsolute.txt
/HostAggregation.FileManagementService/obj/Debug/net6.0/HostAggregation.FileManagementService.GeneratedMSBuildEditorConfig.editorconfig
/HostAggregation.FileManagementService/obj/Debug/net6.0/HostAggregation.FileManagementService.pdb
/HostAggregation.FileManagementService/obj/HostAggregation.FileManagementService.csproj.nuget.dgspec.json
/HostAggregation.FileManagementService/obj/HostAggregation.FileManagementService.csproj.nuget.g.props
/HostAggregation.FileManagementService/obj/project.assets.json
/HostAggregation.FileManagementService/obj/project.nuget.cache
/HostAggregation.HelpersService/bin/Debug/net6.0/HostAggregation.HelpersService.deps.json
/HostAggregation.HelpersService/bin/Debug/net6.0/HostAggregation.HelpersService.dll
/HostAggregation.HelpersService/bin/Debug/net6.0/HostAggregation.HelpersService.pdb
/HostAggregation.HelpersService/obj/Debug/net6.0/ref/HostAggregation.HelpersService.dll
/HostAggregation.HelpersService/obj/Debug/net6.0/HostAggregation.HelpersService.AssemblyInfo.cs
/HostAggregation.HelpersService/obj/Debug/net6.0/HostAggregation.HelpersService.AssemblyInfoInputs.cache
/HostAggregation.HelpersService/obj/Debug/net6.0/HostAggregation.HelpersService.assets.cache
/HostAggregation.HelpersService/obj/Debug/net6.0/HostAggregation.HelpersService.csproj.AssemblyReference.cache
/HostAggregation.HelpersService/obj/Debug/net6.0/HostAggregation.HelpersService.csproj.BuildWithSkipAnalyzers
/HostAggregation.HelpersService/obj/Debug/net6.0/HostAggregation.HelpersService.csproj.CoreCompileInputs.cache
/HostAggregation.HelpersService/obj/Debug/net6.0/HostAggregation.HelpersService.csproj.FileListAbsolute.txt
/HostAggregation.HelpersService/obj/Debug/net6.0/HostAggregation.HelpersService.dll
/HostAggregation.HelpersService/obj/Debug/net6.0/HostAggregation.HelpersService.GeneratedMSBuildEditorConfig.editorconfig
/HostAggregation.HelpersService/obj/Debug/net6.0/HostAggregation.HelpersService.pdb
/HostAggregation.HelpersService/obj/Debug/net6.0/refint/HostAggregation.HelpersService.dll
/HostAggregation.HelpersService/obj/HostAggregation.HelpersService.csproj.nuget.dgspec.json
/HostAggregation.HelpersService/obj/HostAggregation.HelpersService.csproj.nuget.g.props
/HostAggregation.HelpersService/obj/project.assets.json
/HostAggregation.HelpersService/obj/project.nuget.cache
/RangeAllocationService/bin/Debug/net6.0/HostAggregation.FileManagementService.pdb
/RangeAllocationService/bin/Debug/net6.0/HostAggregation.HelpersService.pdb
/RangeAllocationService/bin/Debug/net6.0/HostAggregation.RangeAllocationService.deps.json
/RangeAllocationService/bin/Debug/net6.0/HostAggregation.RangeAllocationService.dll
/RangeAllocationService/bin/Debug/net6.0/HostAggregation.RangeAllocationService.pdb
/RangeAllocationService/obj/Debug/net6.0/ref/HostAggregation.RangeAllocationService.dll
/RangeAllocationService/obj/Debug/net6.0/HostAggregation.RangeAllocationService.AssemblyInfoInputs.cache
/RangeAllocationService/obj/Debug/net6.0/HostAggregation.RangeAllocationService.assets.cache
/RangeAllocationService/obj/Debug/net6.0/HostAggregation.RangeAllocationService.csproj.AssemblyReference.cache
/RangeAllocationService/obj/Debug/net6.0/HostAggregation.RangeAllocationService.csproj.CopyComplete
/RangeAllocationService/obj/Debug/net6.0/HostAggregation.RangeAllocationService.csproj.CoreCompileInputs.cache
/RangeAllocationService/obj/Debug/net6.0/HostAggregation.RangeAllocationService.csproj.FileListAbsolute.txt
/RangeAllocationService/obj/Debug/net6.0/HostAggregation.RangeAllocationService.dll
/RangeAllocationService/obj/Debug/net6.0/HostAggregation.RangeAllocationService.GeneratedMSBuildEditorConfig.editorconfig
/RangeAllocationService/obj/Debug/net6.0/HostAggregation.RangeAllocationService.pdb
/RangeAllocationService/obj/Debug/net6.0/refint/HostAggregation.RangeAllocationService.dll
/RangeAllocationService/obj/HostAggregation.RangeAllocationService.csproj.nuget.dgspec.json
/RangeAllocationService/obj/HostAggregation.RangeAllocationService.csproj.nuget.g.props
/RangeAllocationService/obj/project.assets.json
/RangeAllocationService/obj/project.nuget.cache
*.vsidx
